*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.hero{
    width: 100%;
    font-family: "Open Sans", sans-serif;
    background-color: #F6F6F6;
}

.hero .sec-main .logo {
    background-color: #032548;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
}

.hero .sec-main .logo  .logo-img{
    width: 22%;
    /* margin: auto; */
}

.hero .sec-main .logo .logo-img img {
    width: 90%;
}

.hero .sec-main .logo  .par {
    width: 70%;
    color: white;
    text-align:end;
}

.hero .sec-main .logo  .par p {
    width: 100%;
    position: relative;
    top: 30px;
}

.hero .sec-main .logo  .par p i{
    margin-left: 20px;
}

.hero .sec-main .form  {
    width: 29%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 50vh;
    text-align: center;
    /* background-color: aqua; */
}

/* .hero .sec-main .form .form-img{
    width: 48%;
    margin:auto
} */
.hero .sec-main .form nav{
    width: 100%;
    margin: auto;
}

.hero .sec-main .form nav .form-header  {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

.hero .sec-main .form nav form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.hero .sec-main .form nav form .labels {
    display: block;
    width: 46%;
    line-height: 22.8px;
    text-align: justify;
    padding-left: 20px;
}

.hero .sec-main .form nav form .inputs {
    display: block;
    width: 49%;
    margin-left: 1%;
}
.hero .sec-main .form nav form .for-btn {
    width: 45%;
    text-align: right;
    padding-top: 30px;
    margin-right: 5%;
}
.hero .sec-main .form nav form .for-btn button { 
    background-color: rgb(206, 197, 197);
    padding: 3px;
    border: solid rgb(174, 141, 141);
    color: #090909;
    box-shadow:#032548;
}

.hero .sec-main .form nav form .rem {
    width: 50%;
    text-align: justify;
    padding-top: 30px;
    padding-left: 20px;
}

.hero .sec-main .form nav form .fpwd {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}

.hero .sec-main .form nav form .fpwd p{
    background-color:#d5d9db;
    width: 70%;
    margin: auto;
    padding: 10px;
    font-size: 14px;
}

.hero .sec-main .form nav form .acct {
    width: 100%;
    text-align: center;
    padding-top: 60px;
}

.hero .sec-main .form nav form .acct p{
    width: 98%;
    margin: auto;
    background-color:#d5d9db;
    padding: 10px;
    font-size: 14px;

}

.hero .sec-main .form nav form div p a {
    text-decoration: none;
    color: rgb(132, 42, 42);
}