*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}
.hero{
    width: 100%;
    background-color: #F6F6F6;
}

.hero header{
    background-color:  #143257;
    color: white;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    width: 100%;
}

.hero header .header-main{
    width: 90%;
    padding: 15px 0px 15px 0px;
    display: flex;
    margin: auto;
}

.hero header .header-main .phone{
    width: 40%;
    margin-right: 10%;
}

.hero header .header-main .sign{
    width: 50%;
    margin-left: 0%;
    text-align: right;
}

.hero header .header-main .sign p a{
    text-decoration: none;
    color: white;
    text-transform: lowercase;
}

/*Beginning of the first page after the header*/
.hero .hero-title {
    background-color: #F6F6F6;
    width: 100%;

}
.hero .hero-title .hero-title-main{
    width: 90%;
    margin: auto;
    padding-top: 50px;
}

.hero .hero-title .hero-title-main .hero-title-main-name{
    width: 100%;
    display: flex;
    background-color: #ffff;
    color: #3E3E3E;
    padding: 40px 20px 40px 20px;
} 

.hero .hero-title .hero-title-main .hero-title-main-name .name-h2 {
    text-align: center;
    width: 20%;
    margin-right: 10%;
}

.hero .hero-title .hero-title-main .hero-title-main-name .name-h2 img {
    width: 100%;
    /* height: 100px; */
}
.hero .hero-title .hero-title-main .hero-title-main-name .name-list{
    width: 77%;
}

.hero .hero-title .hero-title-main .hero-title-main-name .name-list ul li{
    display: inline-block;
    margin-right: 15px;
    position: relative;
    top: 10px;
}

.hero .hero-title .hero-title-main .hero-title-main-name .name-list ul li a {
    text-decoration: none;
    color: #424242;
}
.hero .hero-title .hero-title-main .hero-title-main-name .name-list ul li a i {
    margin-right: 10px;
}
.hero .hero-title .hero-title-main .hero-title-main-name .name-list ul li a.fill {
    background-color: #5CBDB3;
    color: white;
    border: solid#5CBDB3;
    padding: 8px;
}

#sea {
    position: relative;
    right: 20px;
}

.hero .hero-title .hero-title-main .hero-title-main-name .name-list ul li input{
    /* height: 30px; */
    background-color: #F6F6F6;
    border: solid #F6F6F6;
    padding: 8px;
}
#cart{
    font-size: 1.7rem;
}

.hero .hero-title-main .hero-title-main-body{
    width: 100%;
    margin: auto;
    height: 90vh;
    background-color: white;
    background-image:url('/assets/img/healthcare-equipment-office-supplies-with-succulent-plant-green-backdrop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-title-main .hero-title-main-body .main-body-h2-pres{
    width: 100%;
    justify-items: center;
    align-content: center;
}

.hero .hero-title-main .hero-title-main-body .main-body-h2-pres .h2-write {
    width: 55%;
    font-size: 2.0rem;
    padding: 30px;
    text-align: center;
    margin: auto;
    background-color: black;
    opacity: 0.4;
    position: relative;
    top: 150px;
}


.hero .hero-title-main .hero-title-main-body .main-body-h2-pres .h2-write h2{
    color:white;
    opacity: 1;
    z-index: 102;
    text-transform: capitalize;
}

.hero .hero-title-main .hero-title-main-body .main-body-h2-pres nav{
    position:relative;
    width: 50%;
    margin: auto;
    text-align: center;
    top: 200px;
}

.hero .hero-title-main .hero-title-main-body .main-body-h2-pres nav ul li {
    display: inline-block;
    text-align: center;
}

.hero .hero-title-main .hero-title-main-body .main-body-h2-pres nav ul li a{
    text-decoration: none;
    color: #ffff;
    border: solid white;
    background-color: #5CBDB3;
    padding: 20px;
    border-radius: 10px;
}

.hero .hero-title-main .hero-title-main-body .main-body-h2-pres nav ul li a:hover{
    background-color: white;
    color: #5CBDB3;
}

.hero .hero-title-main .sec3 {
    width: 100%;
    height: auto;

    background-color: #ffff;
    display: flex;
    padding: 10px;
}

.hero .hero-title-main .sec3 .sec3-prt1{
    width: 32%;
    margin: auto;
    height: auto;
    /* background-image: url('/assets/img/high-angle-pill-foils-plastic-containers.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .hero-title-main .sec3 .sec3-prt1 .sec3-prt1-img img{
    width: 100%;
    padding-top: 50px;
    height: 500px;
}

.hero .hero-title-main .sec3 .sec3-prt2{
    width: 32%;
    margin: auto;
    /* background-color:aquamarine; */
    height: auto;
    /* background-image: url('/assets/img/packings-pills-capsules-medicines.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-title-main .sec3 .sec3-prt2 .sec3-prt2-img img{
    width: 100%;
    padding-top: 50px;
    height: 500px;
}
.hero .hero-title-main .sec3 .sec3-prt3{
    width: 32%;
    margin: auto;
    /* background-color: #143257; */
    height: auto;
    /* background-image: url('/assets/img/25757.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.hero .hero-title-main .sec3 .sec3-prt3 .sec3-prt3-img img{
    width: 100%;
    padding-top: 50px;
    height: 500px;
}
.hero .hero-title-main .sec3 .sec3-prt1 .sec3-prt1-write-up{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.hero .hero-title-main .sec3 .sec3-prt2 .sec3-prt2-write-up{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.hero .hero-title-main .sec3 .sec3-prt3 .sec3-prt3-write-up{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.hero .hero-title-main .sec3 .sec3-prt1 .sec3-prt1-write-up h2 {
    width: 70%;
    margin: auto;
    background-color: black;
    opacity: 0.6;
    color: #ffff;
    padding: 30px;
    text-align: center;
    position: absolute;
    bottom: 150px;
    left: 63px;
}

.hero .hero-title-main .sec3 .sec3-prt2 .sec3-prt2-write-up h2{
    width: 70%;
    margin: auto;
    background-color: black;
    opacity: 0.6;
    color: #ffff;
    padding: 30px;
    text-align: center;
    position: absolute;
    bottom: 150px;
    left: 63px;
}

.hero .hero-title-main .sec3 .sec3-prt3 .sec3-prt3-write-up h2{
    width: 70%;
    margin: auto;
    background-color: black;
    opacity: 0.6;
    color: #ffff;
    padding: 30px;
    text-align: center;
    position: absolute;
    bottom: 150px;
    left: 63px;
}

.hero .hero-title-main .sec3 .sec3-prt1 .sec3-prt1-write-up a {
    width: 70%;
    text-decoration: none;
    margin: auto;
    color: #ffff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 90px;
    left: 63px;
    border: solid white;
    border-radius: 5px;
    background-color: #5CBDB3;
}

.hero .hero-title-main .sec3 .sec3-prt2 .sec3-prt2-write-up a {
    width: 70%;
    text-decoration: none;
    margin: auto;
    color: #ffff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 90px;
    left: 63px;
    border: solid white;
    border-radius: 5px;
    background-color: #5CBDB3;
}

.hero .hero-title-main .sec3 .sec3-prt3 .sec3-prt3-write-up a{ 
    width: 70%;
    text-decoration: none;
    margin: auto;
    color: #ffff;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 90px;
    left: 63px;
    border: solid white;
    border-radius: 5px;
    background-color: #5CBDB3;
}

.hero .hero-title-main .sec4 {
    background-color: #ffff;
    width: 100%;
    height: auto;
    padding: 10px;
    padding-top: 20px;
}

.hero .hero-title-main .sec4 .sec4-logo{
    /* background-image: url('/assets/img/image-removebg-preview.png');
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5; */
}

.hero .hero-title-main .sec4 .sec4-logo .sec4-shop{
    width: 100%;
    padding: 20px;
    text-transform:uppercase;
    font-family:"Helvetica Neue", Verdana, Arial, sans-serif;
}

.hero .hero-title-main .sec4 .sec4-logo .sec4-cat{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-image: url('/assets/img/image-removebg-preview.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;

}

.hero .hero-title-main .sec4 .sec4-logo .sec4-cat nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px 0px 20px 0px;
    text-align: center;
}

.hero .hero-title-main .sec4 .sec4-logo .sec4-cat nav div {
    width: 19%;
    margin: auto;
    margin-bottom: 6px;
    text-align: center;
    padding: 20px;
    background-color: #5CBDB3;
    border: solid white;
}

.hero .hero-title-main .sec4 .sec4-logo .sec4-cat nav div:hover {
    transform:scale(1.1);
    background-color:#424242;
    color: #5CBDB3;
}

.hero .hero-title-main .sec4 .sec4-logo .sec4-cat nav div a {
    text-decoration: none;
    padding: 1px;
    text-transform: uppercase;
    width: 100%;
    font-size:small;
    color: #ffff;
}

.hero .hero-title-main .sec4 .sec4-logo .sec4-cat nav div a:hover {
    color: #5CBDB3;
}

.hero .footer {
    width: 100%;
    height: auto;
    background-color: #032548;
    color: #F6F6F6;
}

.hero .footer .footer-main {
    width: 90%;
    margin: auto;
    display: flex;
}

.hero .footer .footer-main .foot-img{
    width: 28%;
    margin: auto;
    padding: 20px;
}

.hero .footer .footer-main .foot-img img{
    width: 50%;
    text-align: left;
}

.hero .footer .footer-main .foot-copy{
    width: 40%;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: smaller;
}

.hero .footer .footer-main .foot-wha{
    width: 28%;
    margin: auto;
    padding: 20px;
    text-align: right;
    font-size: large;
}

.hero .footer .footer-main .foot-wha a{
    text-decoration: none;
    color: #F6F6F6;
}

.hero .footer .footer-main .foot-wha a i:hover{
    transform: scale(2.0);
}